//gitignore for node.js
node_modules
npm-debug.log
.DS_Store
.idea
.vscode
dist-electron
dist-react
dist-python
dist
//gitignore for python
.venv
.env
.mypy_cache
build/
.DS_Store
__pycache__
*.py[cod]
env/
*.log
dist
build
run
